:root {
    --color-blue: #0000FF;
    --color-white: #FFF;
    --color-black: #000;
    --color-wheat: #f5deb3;
    --color-red: #FF0000;
    --color-darkgrey: #A9A9A9;
    --color-gold: #FFD700;
}

body {
    background-image: url("./images/honey.jpg");
    background-size: cover;
    padding: 20px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: 'Courier New', Courier, monospace;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: var(--color-black);
    padding: 0px;
}

ul.header li a {
    color: var(--color-white);
    font-weight: lighter;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: var(--color-wheat);
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.highlight-blue {
    color: var(--color-blue);
}


.active {
    background-color: var(--color-gold);
  }


